/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-blue: #1976d2;
    --color-darkblue: #004ba0;
    --color-lightblue: #63a4ff;
    --color-grey: #4d4d4d;
    --color-yellow: #fff59d;
    --color-black: #000000;

    /* Font size */
    --font-large: 48px;
    --font-medium:28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font wegit */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */

}

/* Universal tags */
* {
    box-sizing: border-box;
}

/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0px;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0px;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0px;
}